<div class="table-container">
  <h3 *ngIf="sourceData.title">{{sourceData.title}}</h3>
  <h5 *ngIf="sourceData.subtitle">{{sourceData.subtitle}}</h5>

  <div class="table">
    <div *ngIf="headers" class="head">
      <div class="" *ngFor="let head of headers">
        <div *ngFor="let item of head | keyvalue">{{item.key === 'head' ? item.value : null}}</div>
      </div>
    </div>
    <div *ngIf="content" class="body">
      <div class="row" *ngFor="let item of pagedContent">
        <div class="col" *ngFor="let head of headers">
          <div *ngIf="head.contentKey !== 'function'" [innerHTML]="renderContent(item, head.contentKey)"></div>
          <button
            class="btn btn-primary w-75 mx-3"
            *ngIf="head.contentKey === 'function' && item[head.contentKey]"
            (click)="emmitFunctionCallback(item[head.contentKey])"
          >
            {{item[head.contentKey]['text']}}
          </button>
        </div>
      </div>
    </div>
  </div>
  <app-pagination *ngIf="content.length > pagination.itemsPerPage" (pageSelected)="pageSelected($event)" [itemsPerPage]=pagination></app-pagination>

</div>

<pre>
  {{ sourceData | json }}
</pre>
